@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.routeBox {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}

/* @media screen and (max-width: 767px) {
  .routeBox {
    font-size: 10px;
  }
  .routeBox:hover {
    font-size: 30px;
  }
} */

/* @media only screen and (min-width: 768px) and (max-width: 1023px) {
  .routeBox {
    font-size: 20px;
  }
  .routeBox:hover {
    font-size: 40px;
  }
} */

/* @media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .routeBox {
    font-size: 20px;
  }
  .routeBox:hover {
    font-size: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .routeBox {
    font-size: 40px;
  }
  .routeBox:hover {
    font-size: 60px;
  }
} */

.routeBox:hover {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}
